<% content_for :title do %>HADashboard<% end %>

<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="clock" data-view="Clock"></div>
    </li>

    <li data-row="2" data-col="1" data-sizex="2" data-sizey="2">
      <div data-id="weather" data-view="Stweather"></div>
    </li>

    <li data-row="1" data-col="6" data-sizex="1" data-sizey="1">
      <div data-id="2300" data-view="Stswitch" data-title="BMW" data-device="Garage Door - BMW"></div>
    </li>

    <li data-row="1" data-col="7" data-sizex="1" data-sizey="1">
      <div data-id="2301" data-view="Stswitch" data-title="Matrix" data-device="Garage Door - Matrix"></div>
    </li>

    <li data-row="3" data-col="6" data-sizex="1" data-sizey="1">
      <div data-id="D84D" data-view="Stdimmer" data-title="Mirely's Light" data-device="Mirely's Bedroom Light"></div>
    </li>

    <li data-row="3" data-col="5" data-sizex="1" data-sizey="1">
      <div data-id="AB1B" data-view="Stdimmer" data-title="Jose's Light" data-device="Jose's Bedroom light"></div>
    </li>

    <li data-row="2" data-col="5" data-sizex="1" data-sizey="1">
      <div data-id="0A000010:C001" data-view="Stswitch" data-title="Kitchen" data-device="Kitchen - Main"></div>
    </li>

    <li data-row="2" data-col="6" data-sizex="1" data-sizey="1">
      <div data-id="B4750E908291" data-view="Stswitch" data-title="Kitchen Spot" data-device="Kitchen Spot"></div>
    </li>
    
    <li data-row="1" data-col="5" data-sizex="1" data-sizey="1">
      <div data-id="Nest" data-view="Nest" data-title="Nest"></div>
    </li>
    
    <li data-row="2" data-col="3" data-sizex="2" data-sizey="1">
      <div data-id="2324" data-view="Stthermostat" data-title="" data-device="Nest 1" data-event-click="onClick"></div>
    </li>

    <li data-row="1" data-col="3" data-sizex="2" data-sizey="1">
      <div data-id="mode" data-view="Stmode" data-title="Current Mode"></div>
    </li>

    <li data-row="2" data-col="7" data-sizex="1" data-sizey="1">
      <div data-id="nightmode" data-view="Stmodechange" data-title="Good Night" data-icon="moon-o" data-changemode="Night" data-phrase="Good Night!" data-countdown="30"></div>
    </li>
    
    <li data-row="3" data-col="3" data-sizex="1" data-sizey="1">
      <div data-id="jsalicrup@gmail.com|c20cbac2-7aea-4184-bb6b-090bbd7c5eda|A7EF6215-6D22-4A26-AC97-E3138B1109E3" data-view="Stpresence" data-title="Jose" data-device="Jose"></div>
    </li>

    <li data-row="3" data-col="4" data-sizex="1" data-sizey="1">
      <div data-id="mirely@gmail.com|c20cbac2-7aea-4184-bb6b-090bbd7c5eda|8A1C4203-33F4-44E3-BD8E-AA819DD972F2" data-view="Stpresence" data-title="Mirely" data-device="Mirely"></div>
    </li>
    
    <li data-row="3" data-col="7" data-sizex="1" data-sizey="1">
      <div data-id="reload" data-view="Reload"></div>
    </li>

  </ul>
</div>